[Unit]
Description=RPi-SDR Dashboard
After=network.target

[Service]
ExecStart=/usr/bin/python -m gunicorn -w 4 -b 0.0.0.0:80 'webserver:app'
WorkingDirectory=/home/pi/rpi-sdr-dashboard
StandardOutput=inherit
StandardError=inherit
Restart=always
User=root

[Install]
WantedBy=multi-user.target
